:root {
	--main-accent-color: #d41443;
	--secondary-accent-color: #c7133e;
	--third-accent-color: #d41342;
	--non-accent-color: #fea5bb;
	--title-label: #ffa5ba;
	--background-color: #ffb8ca;
	--background-color-coffee: #f0d1a5;
	--background-color-shakes: #c2e297;
	--background-color-pink: #fff5f6;
	--main-black-color: #000000;
	--main-white-color: #ffffff;
	--main-gray-color: #907e82;
	--secondary-gray-color: #ecebeb;
	--primary-transition-duration: 250ms;
	--primary-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	--slider-background: #fafafa;
	--double-quote: #e1e1e1;
	--card-set-gap: 30px;
	--background-accent-button: #ecebeb;
	--background-color-grey: #ecebeb;
	--background-dark-pink: #e17992;
}
