<section class="advantages">
	<div class="container">
		<h2 class="visually-hidden">Advantages</h2>
		<ul class="advantages-list">
			<li class="advantages-list__item">
				<span class="advantages-span">721</span>
				<p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
			</li>
			<li class="advantages-list__item">
				<span class="advantages-span">16kg</span>
				<p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
			</li>
			<li class="advantages-list__item">
				<span class="advantages-span">84</span>
				<p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
			</li>
		</ul>
	</div>
</section>
