<section class="section__contacts" id="contact">
	<div class="contacts container">
		<h1 class="visually-hidden">contacts</h1>
		<ul class="contacts__cards">
			<li class="contacts__namecards">
				<button class="contacts__btn">CAFE</button>
				<p class="contacts__text">Chicago</p>
				<p class="contacts__coments">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
				<p class="contacts__text--50px">Monday - Friday</p>
				<p class="contacts__time">06:00 AM - 10:00 PM</p>
				<p class="contacts__text">Saturday - Sunday</p>
				<p class="contacts__time">08:00 AM - 16:00 PM</p>
				<a class="contacts__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
				<a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
			</li>
			<li class="contacts__namecards">
				<button class="contacts__btn--foodtruck">FOODTRUCK</button>
				<p class="contacts__text">Los Angeles</p>
				<p class="contacts__coments">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
				<p class="contacts__text--50px">Monday - Friday</p>
				<p class="contacts__time">06:00 AM - 10:00 PM</p>
				<p class="contacts__text">Saturday - Sunday</p>
				<p class="contacts__time">08:00 AM - 16:00 PM</p>
				<a class="contacts__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
				<a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
			</li>
			<li class="contacts__namecards">
				<button class="contacts__btn">CAFE</button>
				<p class="contacts__text">New York</p>
				<p class="contacts__coments">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
				<p class="contacts__text--50px">Monday - Friday</p>
				<p class="contacts__time">06:00 AM - 10:00 PM</p>
				<p class="contacts__text">Saturday - Sunday</p>
				<p class="contacts__time">08:00 AM - 16:00 PM</p>
				<a class="contacts__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
				<a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
			</li>
		</ul>
		<ul class="contacts__bottom">
			<li class="center__btn"><button data-location-open class="btn__red">Our Locations &gt;</button></li>
			<li class="center__btn"><button data-franchise-open class="btn__white">Franchise &gt;</button></li>
		</ul>
	</div>
</section>
