<section class="customer-reviews">
	<div class="container">
		<h2 class="visually-hidden">Customer reviews</h2>
		<div class="slider">
			<div class="slider__item">
				<picture class="">
					<source
						srcset="./images/testimonials-1@1x-min.png 1x, ./images/testimonials-1@2x-min.png 2x"
					/>
					<img class="slider__img" src="./images/testimonials-1@1x-min.png" alt="Emily" />
				</picture>
				<div class="slider__text-box">
					<div class="slider__underline">
						<p class="slider__text">
							Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
							hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
						</p>
					</div>
				</div>
				<p class="slider__customer-name">Emily, Los Angeles</p>
			</div>
			<div class="slider__item">
				<picture class="">
					<source
						srcset="./images/testimonials-2@1x-min.png 1x, ./images/testimonials-2@2x-min.png 2x"
					/>
					<img class="slider__img" src="./images/testimonials-2@1x-min.png" alt="Rose" />
				</picture>
				<div class="slider__text-box">
					<div class="slider__underline">
						<p class="slider__text">
							Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
							hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
						</p>
					</div>
				</div>
				<p class="slider__customer-name">Rose, New York</p>
			</div>
			<div class="slider__item">
				<picture class="">
					<source
						srcset="./images/testimonials-3@1x-min.png 1x, ./images/testimonials-3@2x-min.png 2x"
					/>
					<img class="slider__img" src="./images/testimonials-3@1x-min.png" alt="Maria" />
				</picture>
				<div class="slider__text-box">
					<div class="slider__underline">
						<p class="slider__text">
							Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
							hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
						</p>
					</div>
				</div>
				<p class="slider__customer-name">Maria, Chicago</p>
			</div>
		</div>
	</div>
</section>
