<div class="backdrop is-hidden" data-franchise>
	<div class="modal-four">
		<button class="btn-close-four" aria-label="Закрыть окно" data-franchise-close>
			<svg class="btn-close-four__icon-four">
				<use href="images/icons.svg#icon-close"></use>
			</svg>
		</button>
		<p class="banner">Agreement</p>
		<p class="banner-text">
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, sunt pariatur? Vel sunt rem
			minus ullam repellat ducimus neque veritatis similique.
		</p>
	</div>
</div>
