<section class="section gallery">
	<h2 class="visually-hidden">Icecream photos gallery</h2>
	<div class="container gallery__container">
		<div class="gallery__column">
			<div class="gallery__image-wrapper">
				<picture class="gallery__image">
					<source srcset="./images/gallery-image1-desk@2x.jpg 2x" media="(min-width: 1200px)" />
					<source srcset="./images/gallery-image1-tab@2x.jpg 2x" media="(min-width: 768px)" />
					<source srcset="./images/gallery-image1-mob@2x.jpg 2x" media="(min-width: 320px)" />
					<img src="./images/gallery-image1-desk@2x.jpg" alt="Two green icecreams on the plate" />
				</picture>
			</div>
		</div>
		<div class="gallery__column">
			<div class="gallery__image-wrapper">
				<picture class="gallery__image">
					<source srcset="./images/gallery-image2-desk@2x.jpg 2x" media="(min-width: 1200px)" />
					<source srcset="./images/gallery-image2-tab@2x.jpg 2x" media="(min-width: 768px)" />
					<source srcset="./images/gallery-image2-mob@2x.jpg 2x" media="(min-width: 320px)" />
					<img
						src="./images/gallery-image2-desk@2x.jpg"
						alt="Hand holding icecream on the yellow background"
					/>
				</picture>
			</div>
			<div class="gallery__image-wrapper">
				<picture class="gallery__image">
					<source srcset="./images/gallery-image3-desk@2x.jpg 2x" media="(min-width: 1200px)" />
					<source srcset="./images/gallery-image3-tab@2x.jpg 2x" media="(min-width: 768px)" />
					<source srcset="./images/gallery-image3-mob@2x.jpg 2x" media="(min-width: 320px)" />
					<img src="./images/gallery-image3-desk@2x.jpg" alt="Six pink icecreams" />
				</picture>
			</div>
		</div>
		<div class="gallery__column">
			<div class="gallery__image-wrapper">
				<picture class="gallery__image">
					<source srcset="./images/gallery-image4-desk@2x.jpg 2x" media="(min-width: 1200px)" />
					<source srcset="./images/gallery-image4-tab@2x.jpg 2x" media="(min-width: 768px)" />
					<source srcset="./images/gallery-image4-mob@2x.jpg 2x" media="(min-width: 320px)" />
					<img
						src="./images/gallery-image4-desk@2x.jpg"
						alt="Coloured fruit icecreams with berries"
					/>
				</picture>
			</div>
			<div class="gallery__image-wrapper">
				<picture class="gallery__image">
					<source srcset="./images/gallery-image5-desk@2x.jpg 2x" media="(min-width: 1200px)" />
					<source srcset="./images/gallery-image5-tab@2x.jpg 2x" media="(min-width: 768px)" />
					<source srcset="./images/gallery-image5-mob@2x.jpg 2x" media="(min-width: 320px)" />
					<img
						src="./images/gallery-image5-desk@2x.jpg"
						alt="Young woman holding icecream near the face"
					/>
				</picture>
			</div>
		</div>
		<div class="gallery__column">
			<div class="gallery__image-wrapper">
				<picture class="gallery__image">
					<source srcset="./images/gallery-image6-desk@2x.jpg 2x" media="(min-width: 1200px)" />
					<source srcset="./images/gallery-image6-tab@2x.jpg 2x" media="(min-width: 768px)" />
					<source srcset="./images/gallery-image6-mob@2x.jpg 2x" media="(min-width: 320px)" />
					<img
						src="./images/gallery-image6-desk@2x.jpg"
						alt="Hand picking berry from the icecream"
					/>
				</picture>
			</div>
			<div class="gallery__image-wrapper">
				<picture class="gallery__image">
					<source srcset="./images/gallery-image7-desk@2x.jpg 2x" media="(min-width: 1200px)" />
					<source srcset="./images/gallery-image7-tab@2x.jpg 2x" media="(min-width: 768px)" />
					<source srcset="./images/gallery-image7-mob@2x.jpg 2x" media="(min-width: 320px)" />
					<img
						src="./images/gallery-image7-desk@2x.jpg"
						alt="Hand holding red icecream. Street on the background"
					/>
				</picture>
			</div>
		</div>
		<div class="gallery__column">
			<div class="gallery__image-wrapper">
				<picture class="gallery__image">
					<source srcset="./images/gallery-image8-desk@2x.jpg 2x" media="(min-width: 1200px)" />
					<source srcset="./images/gallery-image8-tab@2x.jpg 2x" media="(min-width: 768px)" />
					<source srcset="./images/gallery-image8-mob@2x.jpg 2x" media="(min-width: 320px)" />
					<img
						src="./images/gallery-image8-desk@2x.jpg"
						alt="Doggy licking two-coloured icecream"
					/>
				</picture>
			</div>
			<div class="gallery__image-wrapper">
				<picture class="gallery__image">
					<source srcset="./images/gallery-image9-desk@2x.jpg 2x" media="(min-width: 1200px)" />
					<source srcset="./images/gallery-image9-tab@2x.jpg 2x" media="(min-width: 768px)" />
					<source srcset="./images/gallery-image9-mob@2x.jpg 2x" media="(min-width: 320px)" />
					<img
						src="./images/gallery-image9-desk@2x.jpg"
						alt="Hand holding the glass with chocolate milk shake"
					/>
				</picture>
			</div>
		</div>
		<div class="gallery__column">
			<div class="gallery__image-wrapper">
				<picture class="gallery__image">
					<source srcset="./images/gallery-image10-desk@2x.jpg 2x" media="(min-width: 1200px)" />
					<source srcset="./images/gallery-image10-tab@2x.jpg 2x" media="(min-width: 768px)" />
					<source srcset="./images/gallery-image10-mob@2x.jpg 2x" media="(min-width: 320px)" />
					<img src="./images/gallery-image10-desk@2x.jpg" alt="Icecream on the yellow background" />
				</picture>
			</div>
		</div>
	</div>
</section>
