<header class="header-hero" id="home">
	<div class="container header-container">
		<div class="header-container-body">
			<nav class="page-nav">
				<a href="" class="header-logo">
					<img
						srcset="./images/logo.png 1x, ./images/logo@2x.png 2x"
						src="./images/logo.png"
						alt="logo"
					/>
				</a>
				<button
					type="button"
					class="page-nav__menu-btn js-open-menu"
					aria-expanded="false"
					aria-controls="mob-menu"
				>
					<svg class="page-nav__burger">
						<use href="./images/icons.svg#burger"></use>
					</svg>
				</button>
				<ul class="site-nav list">
					<li class="site-nav__item">
						<a href="#home" class="site-nav__link site-nav__item--active">Home</a>
					</li>
					<li class="site-nav__item"><a href="#about" class="site-nav__link">About us</a></li>
					<li class="site-nav__item"><a href="#made" class="site-nav__link">How it’s made?</a></li>
					<li class="site-nav__item"><a href="#products" class="site-nav__link">Our products</a></li>
					<li class="site-nav__item"><a href="#contact" class="site-nav__link">Contact</a></li>
				</ul>
				<button type="button" class="page-nav__btn" data-buymodal-open>Buy now</button>
			</nav>
			<section class="hero">
				<div class="hero-container">
					<h1 class="hero-container__title">
						ice cream<br />made with<br /><span class="hero-container__title--accent">passion</span>
					</h1>
					<div class="hero-header__btn">
						<a href="#products" class="hero__btn hero__btn--accent">Products</a>
						<a href="#made" class="hero__btn">How it’s made?</a>
					</div>
				</div>
				<picture class="hero-picture">
					<source
						srcset="./images/hero-icecream-desk@1x.png 1x, ./images/hero-icecream-desk@2x.png 2x"
						media="(min-width: 1200px)"
					/>
					<source
						srcset="./images/hero-icecream-tab@1x.png 1x, ./images/hero-icecream-tab@2x.png 2x"
						media="(min-width: 768px)"
					/>
					<source
						srcset="./images/hero-icecream-mob@1x.png 1x, ./images/hero-icecream-mob@2x.png 2x"
						media="(min-width: 320px)"
					/>
					<img src="./images/hero-icecream-mob@1x.png" alt="icecream" />
				</picture>
				<picture class="hero-picture-girl">
					<source
						srcset="./images/hero-girl-desk@1x.png 1x, ./images/hero-girl-desk@2x.png 2x"
						media="(min-width: 1200px)"
					/>
					<source
						srcset="./images/hero-girl-tab@1x.png 1x, ./images/hero-girl-tab@2x.png 2x"
						media="(min-width: 768px)"
					/>
					<img src="./images/hero-girl-tab@1x.png" alt="girl" />
				</picture>
				<picture class="hero-picture-milk">
					<source
						srcset="./images/hero-milkjug-desk@1x.png 1x, ./images/hero-milkjug-desk@2x.png 2x"
						media="(min-width: 1200px)"
					/>
					<source
						srcset="./images/hero-milkjug-tab@1x.png 1x, ./images/hero-milkjug-tab@2x.png 2x"
						media="(min-width: 768px)"
					/>
					<img src="./images/hero-milkjug-tab@1x.png" alt="girl" />
				</picture>
				<div class="ellipse"></div>
				<div class="hero-inform">
					<div class="hero-inform__16">
						<b class="hero-inform__number">16</b>
						<p class="hero-inform__text">cafes</p>
					</div>
					<div class="hero-inform__23">
						<b class="hero-inform__number">23</b>
						<p class="hero-inform__text">food trucks</p>
					</div>
					<p class="header-title">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
						incididunt ut labore et
					</p>
				</div>
			</section>
		</div>
	</div>
</header>
