<div class="backdrop is-hidden" data-location>
	<div class="modal-three">
		<button class="btn-close-three" aria-label="Закрыть окно заказа" data-location-close>
			<svg class="btn-close-three__icon-three">
				<use href="images/icons.svg#icon-close"></use>
			</svg>
		</button>
		<p class="map__text">Our Location</p>
		<div class="map" id="map">
			<iframe
				class="gmap_iframe gmap_iframe--size"
				src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=834%20E%2050th%20St,%20Chicago,%20IL%2060615,%20США&amp;t=&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
			></iframe>
		</div>
	</div>
</div>
