<div class="mob-menu js-menu-container" id="mob-menu">
	<div class="mob-menu__container">
		<button type="button" class="mob-menu__close-btn js-close-menu">
			<svg class="mob-menu__icon-close">
				<use href="./images/icons.svg#close"></use>
			</svg>
		</button>
		<button type="button" class="mob-menu__btn" data-buymodal1-open>Buy now</button>

		<ul class="mob-menu__list list">
			<li class="mob-menu__item js-close-menu">
				<a class="mob-menu__link link" href="#home">Home</a>
			</li>
			<li class="mob-menu__item js-close-menu">
				<a class="mob-menu__link link" href="#about">About us</a>
			</li>
			<li class="mob-menu__item js-close-menu">
				<a class="mob-menu__link link" href="#made"> How it’s made? </a>
			</li>
			<li class="mob-menu__item js-close-menu">
				<a class="mob-menu__link link" href="#products">Our products</a>
			</li>
			<li class="mob-menu__item js-close-menu">
				<a class="mob-menu__link link" href="#contact"> Contact </a>
			</li>
		</ul>
	</div>
</div>
