<div class="backdrop is-hidden" data-modals>
	<div class="modal-two">
		<button class="btn-close-two" aria-label="Закрыть окно" data-modals-close>
			<svg class="btn-close-two__icon-two">
				<use href="images/icons.svg#icon-close"></use>
			</svg>
		</button>
		<h2 class="modal__caption">Delicious</h2>
		<p class="modal__text">
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, sunt pariatur? Vel sunt rem
			minus ullam repellat ducimus neque veritatis similique.
		</p>
		<h3 class="modal__caption">Species</h3>
		<p class="modal__text-two">
			LLorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, sunt pariatur? Vel sunt rem
			minus ullam repellat ducimus neque veritatis similique.
		</p>
	</div>
</div>
