<section class="product" id="products">
	<div class="container">
		<p class="product-article">100% NATURAL</p>
		<h2 class="product-title">PRODUCTS</h2>
		<ul class="product-list">
			<li class="product-list__item product-list__item--cream">
				<h3 class="product-list__title">ICE CREAM</h3>
				<p class="product-list__article">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
					ut labore et
				</p>
				<details class="product-datails">
					<summary class="product-summary"></summary>
					<p class="product-summary-article">More info about the details.</p>
				</details>
			</li>
			<li class="product-list__item product-list__item--coffee">
				<h3 class="product-list__title">ICE COFFEE</h3>
				<p class="product-list__article">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
					ut labore et
				</p>
				<details class="product-datails">
					<summary class="product-summary"></summary>
					<p class="product-summary-article">More info about the details.</p>
				</details>
			</li>
			<li class="product-list__item product-list__item--shakes">
				<h3 class="product-list__title">MILKSHAKES</h3>

				<p class="product-list__article">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
					ut labore et
				</p>
				<details class="product-datails">
					<summary class="product-summary"></summary>
					<p class="product-summary-article">More info about the details.</p>
				</details>
			</li>
		</ul>
	</div>
</section>
