.about {
	padding-top: 125px;
	padding-bottom: 39px;

	background-color: var(--background-color-pink);

	background-image: url('../images/about-milk-mob@1x.png');
	background-repeat: no-repeat;
	background-position: center 85%;
	background-size: contain;

	@include x2() {
		background-image: url('../images/about-milk-mob@2x.png');
	}

	@include tab() {
		padding-top: 130px;
		padding-bottom: 66px;

		background-image: none;
	}

	@include desk() {
		padding-top: 125px;
		padding-bottom: 39px;

		background-image: url('../images/about-milk-desk@1x.png');
		background-repeat: no-repeat;
		background-position: center 107%;
		background-size: contain;

		@include x2() {
			background-image: url('../images/about-milk-desk@2x.png');
		}
	}
}

.about__container {
	width: 100%;

	@include mob() {
		max-width: 480px;
	}

	@include tab() {
		max-width: 768px;
	}

	@include desk() {
		max-width: 1200px;
	}
}

.about__label {
	margin-bottom: 15px;

	font-family: 'Titan One', sans-serif;
	@include font($fs: 18px, $fw: null, $lh: 1.17, $ls: null);

	text-align: center;
	text-transform: uppercase;

	color: var(--title-label);

	@include tab() {
		@include font($fs: 26px, $fw: null, $lh: 1.15, $ls: null);
	}

	@include desk() {
		@include font($fs: 30px, $fw: null, $lh: 1.13, $ls: null);
	}
}

.about__title {
	padding-left: 45px;
	padding-right: 45px;

	margin-bottom: 26px;

	font-family: 'Titan One', sans-serif;
	@include font($fs: 34px, $fw: null, $lh: 1.15, $ls: null);

	text-align: center;
	text-transform: uppercase;

	color: var(--main-accent-color);

	@include tab() {
		margin-bottom: 50px;

		@include font($fs: 48px, $fw: null, $lh: null, $ls: null);
	}

	@include desk() {
		margin-bottom: 55px;

		@include font($fs: 58px, $fw: null, $lh: 1.14, $ls: 0.06em);
	}
}

.about-box {
	@include tab() {
		display: flex;
		align-items: flex-start;
	}
	@include desk() {
		justify-content: center;
	}
}

.about__image {
	margin-bottom: 46px;
	width: 100%;

	@include tab() {
		width: 340px;
		height: 339px;

		margin-bottom: 0;
	}

	@include desk() {
		width: 516px;
		height: 516px;
	}
}

.about-text-box {
	padding-left: 35px;
	padding-right: 35px;

	@include tab() {
		padding: 0;
		width: 50%;

		margin-left: 17px;
		margin-right: 21px;
	}

	@include desk() {
		margin-left: 0;
		margin-right: 0;

		padding: 51px 0px 107px 74px;
	}
}

.about__text {
	width: 100%;

	@include font($fs: 12px, $fw: 500, $lh: 1.58, $ls: null);

	@include tab() {
		@include font($fs: 14px, $fw: null, $lh: 1.79, $ls: null);
	}
}

.about__text--prepend {
	margin-bottom: 38px;

	@include tab() {
		margin-bottom: 30px;
	}

	@include desk() {
		margin-bottom: 35px;
		@include font($fs: 16px, $fw: null, $lh: 1.75, $ls: null);
	}
}

.about__text--accent-color {
	margin-bottom: 12px;
	color: var(--main-gray-color);

	@include tab() {
		margin-bottom: 16px;
	}

	@include desk() {
		margin-bottom: 30px;
		@include font($fs: 14px, $fw: null, $lh: 1.93, $ls: null);
	}
}

.about__text--uppend {
	margin-bottom: 26px;
}

.about__button {
	display: flex;
	justify-content: center;

	position: relative;

	width: 176px;
	height: 44px;

	@include font($fs: 14px, $fw: bold, $lh: 1.29, $ls: null);

	align-items: center;
	text-align: center;

	border-radius: 22px;

	color: var(--main-accent-color);
	background-color: var(--main-white-color);

	transition-property: background-color;
	transition-duration: var(--primary-transition-duration);
	transition-timing-function: var(--primary-transition-timing-function);

	&::after {
		content: '\276F';
		font-size: 12px;
		position: absolute;
		top: 15px;
		right: 33px;
		color: var(--main-accent-color);
	}

	&:hover,
	&:focus {
		background-color: var(--background-accent-button);
	}
}

.about-button__icon {
	margin-left: 14px;
}
